/* the styles for the elements */
* {
    margin: 0;
    padding: 0;
}
html {
    background-color: white;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 100%;
    margin: 0 auto;
}
a:focus, a:hover {
    font-style: italic;
}
/* the styles for the header */
header {
    border-bottom: 3px solid #b9dbed;
}
header img {
    float: left;
    padding: 0 3.75%;
}
.shadow {
    text-shadow: 2px 2px 2px #b9dbed;
}
/* the styles for the navigation menu */
#nav_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}
#nav_menu ul li {
    float: left;
    width: 20%;
}
#nav_menu ul li a {
    display: block;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: #b9dbed;
    color: black;
    font-weight: bold;
}
#nav_menu ul li ul li{
    border-top: 1px solid black;
}
#nav_menu a.current {
    color: #e56006;
}
#nav_menu ul ul {
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul ul li {
    float: none;
}
#nav_menu ul li:hover > ul {
    display: block;
}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}
footer {
    background-color: #b9dbed;
    clear: both;

}
footer p {
    text-align: center;
    color: black;
    padding: 1em 0;
}
#mobile_menu {
    display: none;
}

/* tablet portrait to standard 960 */
@media only screen and (max-width: 959px) {
    section h1 { font-size: 135%; }
    section h2, aside h2 { font-size: 120%; }
}

/* mobile landscape to tablet portrait */
@media only screen and (max-width: 767px) {
    header img { float: none; }
    header { text-align: center; }
    section {
        float: none;
        width: 95%;
    }
    aside {
        float: none;
        padding-right: 2.5%;
        width: 95%;
    }
    article img { max-width: 30%; }
    #speakers {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
    #nav_menu {
        display: none;
    }
    #mobile_menu {
        display: block;
    }
    .slicknav_menu {
        background-color: #b9dbed !important;
    }
}

/* mobile portrait to mobile landscape */
@media only screen and (max-width: 479px) {
    body { font-size: 90%; }
}